body {
    background-image: url(im3.jpg);
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: black;
    color: bisque;
}

button {
    background-color: #15C8ED;
    color: rgb(0, 0, 0);
    font-size: px;
    padding: 10px;
}

.titulos {
    text-align: center;
    color: rgb(255, 255, 255);
}

.respuesta {
    background-color: #ffffffb0;
    color: black;
    padding: 16px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
}